ion-card {
  display: flex;
  flex-direction: column;
}

ion-card-title {
  font-family: titulo;
  color: #815e5b;
  text-align: center;
}

ion-card {
  --background: #eeebd0;
}

ion-content {
  --background: #ffffff;
}

ion-input {
  color: #815e5b;
}

ion-select {
  color: #815e5b;
}

ion-button {
  --background: #f3bf31;
  --background-hover: #f3bf31;
  display: flex;
  justify-content: center;
  align-items: center;
}
