ion-card-title {
  font-family: titulo;
  color: #25291c;
}

ion-card {
  --background: #eeebd0;
}

ion-content {
  --background: #ffffff;
}

ion-title {
  font-family: titulo;
  color: #25291c;
}

ion-toolbar {
  --background: #002857;
  color: #ffffff;
}

ion-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

ion-button {
  --background: #ffffff;
  --background-hover: #ffffff;
  justify-content: center;
  align-items: center;
}
